.custom-border {
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 10px; /* Rounded corners */
  }
  
  .custom-border input[type="email"],
  .custom-border input[type="password"],
  .custom-border .form-check-input {
    background-color: #f2f2f2; /* Light gray background */
    border: none; /* No border */
  }
  
  .custom-border input[type="email"]:focus,
  .custom-border input[type="password"]:focus {
    background-color: #ddd; /* Light gray background on focus */
  }
  